.thumbnail-paragraph {
    text-align: center;
    margin-top: 5px;
    color: #B2B2B2;
}

.thumbnail-image {
    height: 290px;
    width: 100%;
}

.type-radio {
    margin: 10px !important;
}

.type-label {
    min-width: 25%;
}

h5.plain-text {
    border: 1px solid #1a1c1f;
    text-align: center;
    margin-bottom: 0px;
    background: #f39c12;
    color: #ffffff;
    font-weight: bold;
    padding: 5px;
}

.audio-input {
    border-bottom: 1px solid #1a1c1f;
    border-left: 1px solid #1a1c1f;
    border-right: 1px solid #1a1c1f;
    padding: 5px;
}

#div-type-0 .form-group.textarea {
    margin-top: 0;
    margin-bottom: 0;
    border-left: 1px solid #1a1c1f;
    border-right: 1px solid #1a1c1f;
}

.sr-no {
    background: #f39c12;
    width: 150px;
    text-align: center;
    vertical-align: middle;
    font-size: 30px;
}

.border-box {
    border: 1px solid #1a1c1f;
}

.pdf-btn {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.w-100 {
    width: 100%;
}

.plus-item {
    height: 101px;
    background: #b2b2b238;
    cursor: pointer;
}

.delete-pdf {
    position: absolute;
    right: 20px;
    cursor: pointer;
    z-index: 1;
    color: red;
}

.mr-30 {
    margin-right: 30px;
}

.border-right {
    border-right: 1px solid #1a1c1f !important;
}

.mbt-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.border-black {
    border: 1px solid black;
    padding: 10px;
}

#div-type-2 .form-group.website {
    width: 50%;
    float: right;
}