.thumbnail-image {
    height: 290px;
    width: 100%;
}

.story-details {
    max-height: 300px;
    overflow: auto;
}

.status-width {
    min-width: 300px;
}

.status-width .delete-icon {
    margin-top: 25px;
}