<?php
/**
 * @var \App\View\AppView $this
 * @var \App\Model\Entity\Huqmnama $huqmnama
 */
?>
<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Html->link(__('Edit Huqmnama'), ['action' => 'edit', $huqmnama->id]) ?> </li>
        <li><?= $this->Form->postLink(__('Delete Huqmnama'), ['action' => 'delete', $huqmnama->id], ['confirm' => __('Are you sure you want to delete # {0}?', $huqmnama->id)]) ?> </li>
        <li><?= $this->Html->link(__('List Huqmnamas'), ['action' => 'index']) ?> </li>
        <li><?= $this->Html->link(__('New Huqmnama'), ['action' => 'add']) ?> </li>
    </ul>
</nav>
<div class="huqmnamas view large-9 medium-8 columns content">
    <h3><?= h($huqmnama->title) ?></h3>
    <table class="vertical-table">
        <tr>
            <th scope="row"><?= __('Title') ?></th>
            <td><?= h($huqmnama->title) ?></td>
        </tr>
        <tr>
            <th scope="row"><?= __('Id') ?></th>
            <td><?= $this->Number->format($huqmnama->id) ?></td>
        </tr>
        <tr>
            <th scope="row"><?= __('Date') ?></th>
            <td><?= h($huqmnama->date) ?></td>
        </tr>
        <tr>
            <th scope="row"><?= __('Created') ?></th>
            <td><?= h($huqmnama->created) ?></td>
        </tr>
        <tr>
            <th scope="row"><?= __('Modified') ?></th>
            <td><?= h($huqmnama->modified) ?></td>
        </tr>
    </table>
    <div class="row">
        <h4><?= __('Text') ?></h4>
        <?= $this->Text->autoParagraph(h($huqmnama->text)); ?>
    </div>
</div>
